* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top {
    max-width: 1600px;
    margin: 0 auto;
}

img {
    max-width: 100%;
  }

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
  }

.header {
    width: 100%;
    background-color: #222222;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
}

.logo_header {
    margin: 18px 41px 0px 0px;
}

.title {
    display: flex;
    background: #F1E4E6;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.img_brand {
    width: 50%;
}

.brand {
    padding-left: 64px;
}

.promo_info {
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-top: 48%;
}
.title_brand {
    color: #222;
    font-size: 48px;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.text_brand {
    color: #222;
    font-size: 32px;
    font-family: Lato;
    font-style: normal;
    line-height: normal;
}

.fashion {
   color: #F16D7F;
}

.stock {
    display: -ms-grid;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 64px;
    padding-bottom: 96px;
}

.sale__item {
    position: relative;
}

.sale__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .sale__item_big {
    min-height: 180px;
    grid-column: 1 / -1;
  }
  
  .sale__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
  }
  
  .sale__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #F16D7F;
  }

.content {
    text-align: center;
    margin-bottom: 60px;
}

.title_catalog {
    color: #222;
    font-size: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 6px;
}

.content_catalog {
    color: #9F9F9F;
    font-size: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 48px;
}

.catalog {
    margin-top: 48px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (360px)[auto-fit];
    grid-template-columns: repeat(auto-fit, 360px);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 30px;

}

.img_catalog {
    margin-bottom: 25px;
}

.name_catalog {
    color: #000;
    font-size: 13px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 16px;
    text-align: start;
    margin-bottom: 16px;
}

.text_catalog {
    color: #5D5D5D;
    font-size: 14px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin-left: 16px;
    text-align: start;
    margin-bottom: 16px;
}

.price_catalog {
    text-align: start;
    margin-left: 16px;
    margin-bottom: 20px;
    color: #F16D7F;
    font-size: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link_product {
    display: inline-block;
    width: 212px;
    height: 48px;
    border: 1px solid #F16D7F;
    padding-top: 15px;
    padding-bottom: 14px;
    color: #F26376;
    text-decoration: none;
    margin-top: 48px;
}

.button_header_mobile {
    display: none;
}

@media (max-width: 767px) {
    .img_brand, .button_header {
        display: none;
    }
    .left_header {
        margin-left: 16px;
    }
    .button_header_mobile {
        display:block;
        margin-right: 16px;
    }
    .title_brand {
        color: #222;
        font-size: 38px;
        font-family: Lato;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
    }
    
    .text_brand {
        color: #222;
        font-size: 22px;
        font-family: Lato;
        font-style: normal;
        line-height: normal;
    }
    
    .fashion {
       color: #F16D7F;
    }

    .brand {
        padding-left: 56px;
    }
    .promo_info {
        border-left: 12px solid #F16D7F;
        padding-left: 16px;
        margin-top: 150px ;
        margin-bottom: 152px;
    }
    .stock {
        display: -ms-grid;
        display: grid;
        gap: 30px;
        grid-template-columns: repeat(1, 1fr);
    }
    .img_big {
        min-height: 111px;
    }
}